#products-container {
    /* background-color: #dfdfdf; */
    background-color: #ededed;
    /* background: linear-gradient(90deg, #ededed, #fff, #ededed); */
}

#products-container-center {
    width: 100%;
    max-width: 1400px;
    /* background-color: #f3f7f7; */
    /* background-color: #ffcc00; */
    /* background-color: #b49d33; */
    /* background-color: #ededed; */
    border-radius: 0.25rem;

}

body {
    background: url(./src/assets/piso.jpg);
}

h1 {
    /* color: white; */
    font-size: 2rem;
    color: black;
}

.text-name {
    /* color: #325C32; */
    color: #3d3d3d;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.text-price {
    /* color: #783B3B; */
    color: #3d3d3d;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}


.product-cardapio-container {
    /* background-color: #ecc92c; */
    /* background-color: red; */
    /* background-color: #f3f7f7; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-box {
    /* background-color: #d6c3a5; */
    background-color: #ffffff;
    display: flex;
    gap: 5px;
    height: 135px;
    /* min-width: 400px; */
    padding: 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s;
    border: 1px solid #bfbfbf;
}

.product-box:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.product-box-img img {
    height: 100px;
    width: 150px;
    border-radius: 0.25rem;
}

.product-box-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-product-container h2 {
    font-size: 1.25rem;
}

.btn-product-container {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btn-addCart {
    display: flex;
    justify-content: center;
    align-items: center;
    /* #daa33e */
    background-color: rgb(181, 124, 67);
    border: 1px solid rgb(181, 124, 67);
}

.btn-addCart:hover {
    background-color: rgb(181, 124, 67);
    border: 1px solid rgb(181, 124, 67);
}

.btn-addCart ion-icon {
    width: 20px;
    height: 20px;
}


@media (min-width: 768px) {
    .product-cardapio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .product-cardapio-container {
        grid-template-columns: repeat(3, 1fr);
    }
}