
.carrinho-container-desktop {
    width: 100%;
    max-width: 393px;
    display: none;
}

.carrinho-container-mobile table thead tr th:first-child {
    border-top-left-radius: 0.25rem;
}

.carrinho-container-mobile table thead tr th:last-child {
    border-top-right-radius: 0.25rem;
}

.carrinho-body-mobile {
    background-color: white;
}

.carrinho-body-mobile {
    background-color: white;
}

.carrinho-finalizar-pedido-desktop {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    padding: 0.5rem;

}

.carrinho-finalizar-pedido-mobile {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    padding: 0.5rem;

}

.carrinho-finalizar-pedido-desktop p {
    align-self: flex-end;
}

.carrinho-finalizar-pedido-mobile p {
    align-self: flex-end;
}


.carrinho-finalizar-pedido-desktop button {
    align-self: center;
}

.carrinho-finalizar-pedido-mobile button {
    align-self: center;
}

.showCarrinho-modal {
    position: fixed;
    bottom: 0;
    display: block;
    right: 0;
    visibility: visible;
}


@media (min-width: 1320px) {


    .carrinho-container-desktop {
        display: block;
    }

    .showCarrinho-modal {
        visibility: hidden;
    }
}
