
.carrinho-container-desktop {
    width: 100%;
    max-width: 393px;
}

.carrinho-container-desktop table thead tr th:first-child {
    border-top-left-radius: 0.25rem;
}

.carrinho-container-desktop table thead tr th:last-child {
    border-top-right-radius: 0.25rem;
}

.carrinho-body-desktop {
    background-color: white;
}

.carrinho-finalizar-pedido-desktop {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.carrinho-finalizar-pedido-desktop p {
    align-self: flex-end;
}


.carrinho-finalizar-pedido-desktop button {
    align-self: center;
}




@media (min-width: 1320px) {
    #showCarrinho-mobile {
        visibility: hidden;
    }
}
