#header {
    margin-bottom: 55px;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* para o navbar nao empurrar os outros componentes */
.navbar-header {
    background-color: var(--header-bg) !important;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    padding: 0.5rem;
    /* position: sticky; */
}